<p>HOME</p>
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Tooltip on top
</button>
<div class="row">
  <div class="col-sm-6">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text text-justify">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text text-justify">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-sm-6">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text text-justify">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text text-justify">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
</div>
