
<div class="sidebar shadow-sm" >

  <ul class="sidenav">
    <a routerLink="/"><li><i class="fa fa-home"></i> INÍCIO </li></a>
    <a routerLink="/clients"><li><i class="fa fa-group"></i> GERIR CLIENTES </li></a>
    <a routerLink="/accounts"><li><i class="fa fa-archive"></i> GERIR CONTAS </li></a>
    <a routerLink="/transactions"><li> <i class="fa fa-history"></i> GERIR TRANSAÇÕES </li></a>
    <a routerLink="/configs"><li> <i class="fa fa-key"></i> CONFIGURAÇÕES </li></a>
    <a routerLink="/others"><li> <i class="fa fa-circle-o"></i> Outros </li></a>
  </ul>

  <p id="copyright"> &copy; Copyright 2020 - EPG Bank <br> By EdsonPaulo </p>
</div>

<header id="head-bar" class="d-flex justify-content-between shadow-sm">
  <a id="logo"> <img src="../../favicon.ico" width="20" height="20"> EPG BANK</a>

    <span class="d-inline"><i class="fa fa-calendar"></i> 14 de Janeiro de 2020 - 23:01:31 <i class="fa fa-clock-o"></i></span>

    <div class="dropdown d-inline" style="cursor: pointer; ">
      <span class=" dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
        <i class="fa fa-user"></i> Edson Paulo A. Gregório
      </span>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size: 10pt; background: var(--primary-dark);">
        <a class="dropdown-item" href="#"><i class="fa fa-edit"></i> Editar perfil</a>
        <a class="dropdown-item" href="#"><i class="fa fa-close"></i> Terminar sessão</a>
      </div>
    </div>
</header>
<!--
<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-dark">
    <h5 class="text-white h4">EPG Bank</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4" style="background: var(--primary-dark);">
      <ul class="sidenav">
        <a routerLink="/"><li><i class="fa fa-home"></i> INÍCIO </li></a>
        <a routerLink="/clients"><li><i class="fa fa-group"></i> GERIR CLIENTES </li></a>
        <a routerLink="/accounts"><li><i class="fa fa-archive"></i> GERIR CONTAS </li></a>
        <a routerLink="/transactions"><li> <i class="fa fa-history"></i> GERIR TRANSAÇÕES </li></a>
        <a routerLink="/configs"><li> <i class="fa fa-key"></i> CONFIGURAÇÕES </li></a>
        <a routerLink="/others"><li> <i class="fa fa-circle-o"></i> Outros </li></a>

        <a routerLink="/exit"><li><i class="fa fa-close"></i> TERMINAR SESSÃO </li></a>
      </ul>
      <span class="text-muted"> &copy; Copyright 2020 - EPG Bank <br> By EdsonPaulo </span>
    </div>
  </div>
</div>
-->
