
<h5> <i class="fa fa-group">  GERIR CLIENTES </i> </h5>

<hr>

<form method="POST" action="https://localhost:3000/clients">

  <div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Adicionar Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control form-control-sm" id="name" placeholder="Nome Completo" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control form-control-sm" id="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" class="form-control form-control-sm" id="password" placeholder="Senha">
          </div>
          <div class="form-group">
            <label for="address">Endereço</label>
            <input type="text" class="form-control form-control-sm" id="address" placeholder="1234 Main St">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="city">City</label>
              <input type="text" class="form-control form-control-sm" id="city">
            </div>
            <div class="form-group col-md-6">
              <label for="nacionality">Nacionalidade</label>
              <select id="nacionality" class="form-control form-control-sm">
                <option selected>Angolana</option>
                <option>Portuguesa</option>
                <option>Brasileira</option>
                <option>Moçambicana</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Check me out
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-search mr-1"></i></div>
        </div>
        <input type="text" id="searchBar" (keyup)="onKeyUp()" class="form-control" placeholder="Pesquisar Cliente...">
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="d-flex justify-content-between ">
    <h6>Lista de Clientes Cadastrados</h6>
    <button type="button" class="btn btn-sm" style="background: var(--primary-dark); color: white;" id="newClient"
            onclick="$('#myModal').modal('show')">
        <i class="fa fa-plus mr-1"></i> Adicionar Novo Cliente
    </button>
  </div>
  <hr>
  <div class="table-responsive p-3">
    <table class="table table-sm table-hover w-100 shadow" id="clientsTable">
      <thead style="background: #3f51b5; color: white">
        <tr>
          <th scope="col">#</th>
          <th scope="col"><i class="fa fa-user mr-1"></i> Nome</th>
          <th scope="col"><i class="fa fa-id-card mr-1"></i> BI</th>
          <th scope="col"><i class="fa fa-phone mr-1"></i> Telefone</th>
          <th scope="col">@  Email</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="clients == null || clients.length == 0" class="text-center font-weight-bold">
          <td colspan="5">  Sem clientes cadastrados! </td>
        </tr>

        <tr *ngFor="let client of clients">
            <th scope="row">{{ client.id }}</th>
            <td> {{ client.name }} </td>
            <td> {{ client.bi }} </td>
            <td> {{ client.contact.phone }} </td>
            <td> {{ client.contact.email }}</td>

            <td>
              <button type="button" class="btn btn-sm btn-info mr-2" (click)="onclick( client.id )" data-toggle="tooltip" title="Ver Mais"> <i class="fa fa-eye"></i> </button>
              <button type="button" class="btn btn-sm btn-warning mr-2" onclick="" data-toggle="tooltip" title="Modificar"> <i class="fa fa-edit"></i> </button>
              <button type="button" class="btn btn-sm btn-danger" onclick="" data-toggle="tooltip" title="Eliminar"> <i class="fa fa-trash-o"></i> </button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>

  function myFunction() {
      // Declare variables
      let input;
      let filter;
      let table;
      let tr;
      let td;
      let i;
      let txtValue;
      input = document.getElementById('searchBar');
      filter = input.value.toUpperCase();
      table = document.getElementById('clientsTable');
      tr = table.getElementsByTagName('tr');

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName('td')[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = '';
          } else {
            tr[i].style.display = 'none';
          }
        }
      }
    }

</script>
